{% load staticfiles %}

<html>
<head>
    <meta charset="utf-8">
    <style>
    .imgthumb{width: 100px;}
    </style>
    <!-- add styles -->
    <link href="{% static 'visiondemo/css/main.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'visiondemo/css/jquery.Jcrop.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- add scripts -->
    <script src="{% static 'visiondemo/js/jquery.min.js' %}"></script>
    <script src="{% static 'visiondemo/js/jquery.Jcrop.min.js' %}"></script>
    <script src="{% static 'visiondemo/js/script.js' %}"></script>
</head>

<body>

<h1>Vision Demo</h1>
<strong>Upload :</strong>

<div class="bbody">
    <!-- upload form -->
    <form id="upload_form" method="post" action="{% url 'visiondemo:fileupload' %}" enctype="multipart/form-data" onsubmit="return checkForm()">
        <!-- hidden crop params -->
        <input type="hidden" id="x1" name="x1" />
        <input type="hidden" id="y1" name="y1" />
        <input type="hidden" id="x2" name="x2" />
        <input type="hidden" id="y2" name="y2" />

        <h2>Step1: Please select image file</h2>
        <div><input type="file" name="image_file" id="image_file" onchange="fileSelectHandler()" /></div>

        <div class="error"></div>

        <div class="step2">
            <h2>Step2: Please select a crop region</h2>
            <img id="preview" />
           <br>
           <input type="submit" value="Submit" />
        </div>
    </form>
</div>

<!-- <strong>URL:</strong>
<input type="text" id="url" name="url" style="width:200px;" value="http://">
<input type="button" value="Run" onClick="urlHandler();">
-->

<br><br>
{% if image_list %}
<h3>Left: original image   Right: processed one.</h3>
{% for img in image_list %}
<img src="{{ img }}/" width=500px>
{% endfor %}
{% endif %}


</body>
</html>
